<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
<title>Insert title here</title>
</head>
<body>

	<div ng-app="myApp">
		<!-- ONLY FOR TEST -->
		<div ng-controller="UserCtrl">
			<p class="username">Welcome, {{ user.details.username }}</p>
		</div>

		<!-- BUTTON SHOULD CALL WEBSERVICE AND REFRESH THE LIST -->
		<div ng-controller="MainCtrl">
			<input type="text" ng-model="myModel" ng-change="myFunction(myModel)" placeholder="Start typing..." />
			<button ng-click="my-name('2')">Filter</button>
			<a ng-click="list-manager.refresh-list('3')">Click me</a>
		</div>

	
		<!-- MY LIST, SUCCESSFULLY INITIALIZED AFTER PAGE LOADING -->
		<div ng-controller="GetPetDataCtrl">
			<div class="pet" ng-repeat="item in pets" id="{{item.id}}"
				ng-click="pets.select(item)">
				<h2>{{item.name}}</h2>
				<p>Category: {{item.category}}</p>
				<p>Status: {{item.status}}</p>
				<button>Delete</button>
			</div>
			
		</div>
	</div>

	<script>
		var myApp = angular.module('myApp', []);

		//SERVICES
		//Call my webservice with a parameter
		myApp.service('ListManager', function($http) {
			this.refreshList = function($scope, $http, petId) {
				if (angular.isUndefined(petId)) {
					petId = '*';
				}
				console.log(petId);
				$http({
					method : 'GET',
					url : '//localhost:9000/pet/' + petId
				}).success(function(data, status, headers, config) {
					console.log(data.list);
					//Should refresh the list?
					$scope.pets = data.list;
					
				}).error(function(data, status, headers, config) {
					// Error raised
				});
			};
		});

		//CONTROLLERS
		//Controler of my pet list
		myApp.controller('GetPetDataCtrl', [ '$scope', 'ListManager', '$http',
				function($scope, ListManager, $http, petId) {
					ListManager.refreshList($scope, $http, petId);
				} ]);

		//TEST : wanted to call my service from everywhere (ng-click?)
		function MyCtrl($scope, $http, ListManager) {
			
			console.log('CALL1');
		    $scope.myName = function(petId) {
		         console.log('Hello ' + $scope.myModel);
		         ListManager.refreshList($scope, $http, petId);
		    }
		    console.log('CALL2');
			$scope.myFunction = function(petId){
				ListManager.refreshList($scope, $http, petId);    
			}
		}
		
		//ONLY FOR TEST. 
		myApp.controller('MainCtrl', [ '$scope','ListManager', '$http',  
		         function($scope, MyCtrl) {
			if (angular.isNumber($scope.myModel)) {
				console.log('isNumber');
			} else {
				console.log('noNumber');
			}
			$scope.myModel = '';
		} ]);

		//FOR TEST
		myApp.controller('UserCtrl', [ '$scope', function($scope) {

			$scope.user = {};
			$scope.user.details = {
				"username" : "Eric Kam",
				"id" : "89101112"
			};

		} ]);

	</script>
</body>
</html>